@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? Shared Styles */
.hide {
  display: none;
}

.displayFlex {
  display: flex;
}

.text-gray {
  color: #424242;
}

.text-light-gray {
  color: #727272;
}

.pri-button {
  background-color: #FF900E;
  padding: 20px 25px;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
}

.sections-title {
  font-size: 2.8rem;
  font-weight: 700;
}

main>section {
  margin-top: 130px;
}

/*  Header Styles */
header {
  flex-direction: column;
  justify-content: center;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}


/* *Navbar Related Styles */
.navbar {
  justify-content: space-between;
  padding: 30px 180px;
  align-items: center;
}

.nav-item {
  list-style: none;
  /* margin-right: 50px; */
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.nav-links {
  gap: 50px;
}

.brand {
  font-size: 2.8rem;
  font-weight: 700;
}

/* * Banner Related Style */
.banner {
  flex-direction: column;
  max-width: 1440px;
  margin: 0px auto;
  gap: 40px;
}

.banner-content {
  max-width: 850px;
  margin: 0px auto;
  text-align: center;

}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.banner-paragraph {
  margin-bottom: 30px;
}

.banner-img {
  width: 100%;
}

/* * Teams Page style */
.teams {
  align-items: center;
  justify-content: space-between;
}

.teams-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.teams-title {
  font-size: 2.8rem;
  margin-bottom: 25px;
  font-weight: 500;
}

.team-spam1 {
  color: black;
  font-weight: 700;

}

.team-spam2 {
  color: #FF900E;
  font-weight: 700;

}

.teams-about {
  max-width: 537px;
  /* margin-left: 75px; */
}

.teams-paragraph {
  margin-bottom: 30px;
}

/* * FACT page Style */
.fact {
  flex-direction: column;
  gap: 100px;
}

.fact-about {
  max-width: 545px;
  flex-direction: column;
  gap: 24px;
}

.fact-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.data {
  max-width: 241px;
  height: 241px;
  border: 1px solid #FF900E;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 35px 60px 35px;
  gap: 10px;
}

.fact-img img {
  max-width: 45px;
  height: 45px;
}

.fact-data-number {
  font-size: 45px;
  font-weight: 500;

}

.fact-data-para {
  font-size: 20px;
  font-weight: 500;
}


@media screen and (max-width:576px) {

  /*! HEADER */
  .banner {
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    text-align: center;
    justify-content: center;
  }

  .brand {
    text-align: center
  }

  /*! TEAMS */
  .teams {
    flex-direction: column;
    gap: 20px;
  }

  .teams-img {
    grid-template-columns: repeat(1, 1fr);
  }

  .teams-about {
    text-align: center;
  }

  /* ! FACT */
  .fact{
    text-align: center;
  }
  .fact-data{
    grid-template-columns: repeat(1,1fr);
    margin: 0px auto;
    gap: 20px;
  }

}

@media screen and (min-width:577px) and (max-width:992px) {

  /* ! HEADER */

  .navbar {
    max-width: 100%;
    justify-content: space-between;
    padding: 30px 20px;
  }

  .nav-links {
    text-align: center;
    gap: 20px;
  }

  /* ! TEAM */
  .teams {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .teams-img img {
    max-width: 100%;
  }

  /* ! FACT */
  .fact-about{
    margin: 0 auto;
    text-align: center;
  }
  .fact-data{
    grid-template-columns: repeat(2,1fr);
    margin: 0px auto;
    gap: 20px;
  }
}